{% extends 'Backend/base.html.twig' %}

{% block title %}
	Administration des commandes Clients
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des commandes</h1>
		{% include 'Backend/Orders/_table.html.twig' %}
	</section>
{% endblock %}
